/* Add screen styles below */
body {
    background-color: rgb(219, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    padding: 2px;
    color: black;
    border-top: 10px solid ;
    
}
 h1{
    text-align: center;
}
h2{
    position: relative;
    text-align: center;
    margin: 0,10px,0,0;
    padding-top: 0;
    width: 100px;
}
h3{
    text-align: center;
}
.braceronarratives{
    text-align: center;
    top: 50px;
}

section{
    
}
main{
    display: flex;
}
img{
    width: 100%;
}
nav ul {
    background: #ccc;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav ul li{
    
}

