/* Add screen styles below */
body {
    background-color: rgb(219, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    padding: 2px;
    color: black;
    border-top: 10px solid ;
    font-size: large;
    
}
 h1{
    text-align: center;
}
h2{
    position: relative;
    text-align: center;
    margin: 0,10px,0,0;
    padding-top: 0;
    
}


h4{
    text-align: left;
}
.braceronarratives{
    text-align: center;
    top: 50px;
    right: 50px;
    left: 50px;
    bottom: 50px;
}

section{
    
}
main{
    display: flex;
}
img{
    width: 100%;
   
}
nav ul {
    background: #ccc;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav ul li{
    
}
.alt-image{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-images img {
    width: 300px;
    padding-right: 20px;
}